//* ==== Breakpoints === */
$small: 'small';
$medium: 'medium';
$large: 'large';

//* ==== BASE COLORS === */
$bg-color: rgba(39, 41, 50, 1);
$accent-color: rgba(60, 145, 230, 1);
$light-bg: rgba(246, 248, 255, 1);
$color4: rgba(69, 75, 102, 1);
$accent-color-2: rgba(161, 232, 175, 1);
$color-white: rgba(255,255,255,1);
$color-grey: #FBFBFB;
$color-dark-grey: #A1A6B4;

//* ==== FONTS === */
$font-lato: 'Lato', sans-serif;
$font-merriweather: 'Merriweather', serif;

/* ==== ANIMATIONS === */
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

/* ===== SHADOWS === */
$shadow-small: 0 1.5px 4px rgba(0, 0, 0, 0.0), 0 1.5px 6px rgba(0, 0, 0, 0.12);
