// molecules

// organisms

// Pages
@import "./pages/page";


html, body{
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
}

#app, .wrapper {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: 18% 82%;
}

.container{
  height: 100%;
  grid-template-rows: auto 90% auto;
  grid-template-columns: 100%;
}

.content{
  max-width: 90%;
  margin: 0 auto;
}
