.page {
  height: 100%;
}

/* === PAGE ACTIONS ==*/
.page--actions {
  display: grid;
  width: 100%;
  grid-template-rows: 1;
  grid-template-columns: 100%;

  &[data-columns="2"]{
    grid-template-columns: repeat(2, 50%);
  }

  &[data-columns="3"] {
    grid-template-columns: repeat(3, 33.33%);
  }

  &__left{
    text-align: left;
    padding: 1rem 0;
  }

  &__right {
    text-align: right;
  }
}

/* === PAGE ENDPOINT ==*/
.page--endpoint {
  display: grid;
  grid-template-columns: 15% 60% 30%;
}
