input{
  padding: 1rem 0.5rem;
  box-shadow: none;
  border: none;
  border-bottom: solid 1px darken($color: $color-grey, $amount: 10%);
  // background-color: $color-grey;
  // box-shadow: $shadow-small;

  &[type="search"]{
    padding: 1rem 2rem;
  }
}

/* === M-FIELD === */
.m-field {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 2.5rem;
  label, .bar {
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  label {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    pointer-events: none;
  }
  input {
    width: 100%;
    padding:10px 10px 10px 5px;
    &:focus {
      outline: none;
    }
  }
  input:focus + label, input:placeholder-shown + label {
    top: -20px;
  }

  input:not(.empty) + label {
    top: -20px;
  }

  .bar {
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: $accent-color;
    left: 0;
  }
  input:focus ~ .bar {
    width: 100%;
  }

  &.with-error {
    label {
      top: -20px
    }
    .bar {
      background: red;
      width: 100%;
    }
  }
}
